header{
    background-color: #EEEFF1;
}
.col-lg-12 .col-lg-3:hover{
    opacity: 50%;
    background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8)), url(photo-1454165804606-c3d57bc86b40.jpg);

}
.col-lg-12 .col-lg-3 i{
    font-size: 60px;
    opacity: 0;
    margin: 45% 45%;

}
.col-lg-12 .col-lg-3:hover i{
    opacity: 1;
}
footer{
    background: #EEEFF1;
}
